
@{
    ViewBag.Title = "Detail";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <!--Makale Listesi-->
            <div class="card-group">
                <div class="card">
                    <img src="~/Content/İmages/@ViewBag.blog.Resim" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.blog.Baslik</h5>
                        <p class="card-text">@ViewBag.blog.Icerik</p>

                    </div>

                </div>
            </div>
            <br />

        </div>
        <div class="col-md-4">
            <!--Kategori Listesi-->
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active bg-primary bg-opacity-25 text-black" aria-current="true">
                    Tüm Kategoriler
                </a>
                <a href="#" class="list-group-item list-group-item-action">Marmara Bölgesi</a>
                <a href="#" class="list-group-item list-group-item-action">Ege Bölgesi </a>
                <a href="#" class="list-group-item list-group-item-action">Akdeniz Bölgesi</a>
                <a href="#" class="list-group-item list-group-item-action">Karadeniz Bölgesi</a>
                <a href="#" class="list-group-item list-group-item-action">Doğu Anadolu Bölgesi</a>
                <a href="#" class="list-group-item list-group-item-action">Güneydoğu Anadolu Bölgesi</a>

            </div>
            <br />
            <h6 style="color:darkblue">Çok Okunanlar</h6>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/İmages/Mardin.jpg" alt="..." width="120" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Dillerin ve Dinlerin Kenti Mardin</p>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><i class="bi bi-clock" style="font-size:15px"></i> Tarih  &nbsp; &nbsp; <i class="bi bi-eye" style="font-size:15px"></i> 10 Görüntüleme </small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/İmages/Mardin.jpg" alt="..." width="120" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Dillerin ve Dinlerin Kenti Mardin</p>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><i class="bi bi-clock" style="font-size:15px"></i> Tarih  &nbsp; &nbsp; <i class="bi bi-eye" style="font-size:15px"></i> 10 Görüntüleme </small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/İmages/Mardin.jpg" alt="..." width="120" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Dillerin ve Dinlerin Kenti Mardin</p>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><i class="bi bi-clock" style="font-size:15px"></i> Tarih  &nbsp; &nbsp; <i class="bi bi-eye" style="font-size:15px"></i> 10 Görüntüleme </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

